
<div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('assets/images/price-bg.png');">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="text-contant">
          <h2>
            <span class="center"></span>
            <a href="" class="typewrite" data-period="2000" data-type='[ "My Profile",""]'>
              <span class="wrap"></span>
            </a>
          </h2>
        </div>
      </div>
    </div>
   
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<div id="testimonials" class="section wb wow fadeIn">
  <div class="container">
    <div class="row"></div>
    <div class="heading">
      <span class="icon-logo"><img src="assets/images/icon-logo.png" alt="#"></span>
      <h2>Date</h2>
    </div>

  <div class="col-md-3 col-sm-6 col-xs-12" style="height: 400px;">
    <div class="service-widget" >
        <a href="images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
        <img src="images/clinic_01.jpg" alt="" class="img-responsive">
      </div>
      <img src="../../assets/images/testi_01.png" alt="">
      <h3>{{u.lastName}}{{" "}}{{u.firstName}}</h3>
    <input type="submit" value="Edit Profile" name="Edit" id="submitButton" class="btn small" title="Submit Your Message!" routerLink="/Edit">
    <input type="submit" value="Delete Account" name="Edit" id="submitButton" class="btn small" title="Submit Your Message!" (click)="deleteProfile()">


    <!-- end service -->
 
</div>
 

  <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let R of listRendezvous | paginate: { itemsPerPage: 4, currentPage: p };let i= index">


    <!-- end service -->
    <app-rendezvoususer [rendezVous]="R" (Notification)="delete($event)"></app-rendezvoususer>


  <div class="col-md-3 col-sm-6 col-xs-12">

    <!-- end service -->
  </div>
  
  


</div>
</div>
<div style="margin-left: 1000px;">
<pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>
</div>








