<div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url('assets/images/slider-bg.png');">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="text-contant">
          <h2>
            <span class="center"><span class="icon"><img src="assets/images/icon-logo.png" alt="#" /></span></span>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Welcome to Life Care", "Rouge comme un pharmacien", "We are Expert!" ]'>
              <span class="wrap"></span>
            </a>
          </h2>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>

</div>

  <!-- end container -->



<div id="testimonials" class="section wb wow fadeIn">
  <div class="container">
    <div class="heading">
      <span class="icon-logo"><img src="assets/images/icon-logo.png" alt="#"></span>
      <h2>Pharmacies</h2>
    </div>
  </div>

  <div class="right-header">
    <div class="header-info">
      <div class="header-info">
        <div class="info-inner">

          <span class="icontop"></span>
          <span class="iconcont"><a (click)="nuit()">Night</a></span>
        </div>
        <div class="info-inner">
          <span class="icontop"></span>
          <span class="iconcont"><a (click)="date()">Day</a></span>
        </div>
        <div class="info-inner">
          <span class="icontop"></span>
          <span class="iconcont"><a (click)="all()">All</a></span>
        </div>
        <div class="info-inner">

        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div style="margin-left: 40px;margin-right: 40px;">
  <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s" *ngFor="let p of listPhramacies">
    <app-pharmacy [pharmacy]="p" ></app-pharmacy>

    <!-- end testimonial -->
  </div>
  </div>
</div>
</div>




  <button (click)="nuit()">ghjk</button>
